extends layout

block content
  .jumbotron
    .container
      h1= title
      p Made with love by 
        a(href="https://twitter.com/garbados", target="_blank") @garbados
  .container
    .row
      .col-md-12
        p!=md(readme)
